<h4>
	Associate this PCR with a DNA Sample
</h4>
<div>
   
    <div style="float:left;padding-right:100px">
        
	<table >
		<tr>
		
			<td >
		<%= fields_for :dnasample do |dna| %>
				<%= dna.label "DNA Sample Accession" %><br>
				<%if @pcr.dnasample %>
				<input id="dnasample_select" size="40px" value="<%=Dnasample.find(@pcr.dnasample_id).dna_accession%>">
				<%else%>
						<input id="dnasample_select" size="40px">									
				<%end%>
					<%= dna.hidden_field :id %>	
		<%end%>
		</td>
		</tr>
	</table>
	</div>
	 <div stye="display:inline"  >

            	<b>DNA Sample Information: </b>
            	<div><b>Gene: </b>
            	    <div style="display: inline" id="gene_info">
            	            <%if @pcr.dnasample%>
                	        	<%if @pcr.dnasample.gene %>
                	        	    <%= @pcr.dnasample.gene.genbank %><%= link_to image_tag("show.png", :border=>0), gene_path(@pcr.dnasample.gene)%>
                	        	<%end%>
                	        <%end%>
            	     </div>
            	</div>
            	<div><b>Taxonomy: </b>
            	    <div style="display: inline" id="taxonomy_info">
            	        <%if @pcr.dnasample%>
            	            <%if @pcr.dnasample.taxonomy %>
            	        	    <%= @pcr.dnasample.taxonomy.genus+" "+@pcr.dnasample.taxonomy.species+" "+@pcr.dnasample.taxonomy.subspecies %><%= link_to image_tag("show.png", :border=>0), taxonomy_path(@pcr.dnasample.taxonomy)%>
            	        	<%end%>
            	        <%end%>
            	    </div>
            	</div>
            	    


        </div></div><br><br>
		
    <hr/>

<table>	
    <tr>
        <td>
            PCR Name<br>
            <%= f.text_field :pcr_tube_number %>
        </td>
    </tr>
	 <tr>
		<td>
			<%= f.label :h2o %><br>
			<%= f.text_field :h2o %>
		</td>
		<td>
			<%= f.label :buffer %><br>
			<%= f.text_field :buffer %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :mgcl2 %><br>
			<%= f.text_field :mgcl2 %>
		</td>
		<td>
			<%= f.label :bsa %><br>
			<%= f.text_field :bsa %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :taq %><br>
			<%= f.text_field :taq %>
		</td>

		<td>
			<%= f.label :dntps %><br>
			<%= f.text_field :dntps %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :notes %><br>
			<%= f.text_area :notes ,:size=>'80x20' %>
		</td>
	</tr>

</table>