<h4>
	Associate this PCR with a DNA Sample
</h4>

	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
		
			<td style="float:left">
		<%= fields_for :dnasample do |dna| %>
				<%= dna.label "DNA Sample" %><br>
				<%if @pcr.dnasample_id %>
				<input id="dnasample_select" size="40px" value="<%=@pcr.dnasample_id%>">
				<%else%>
						<input id="dnasample_select" size="40px">									
				<%end%>
					<%= dna.hidden_field :id %>	
		<%end%>
		</td>
		</tr>
	</table>
		
    <hr/>

<table>	
    <tr>
        <td>
            PCR Name<br>
            <%= f.text_field :pcr_tube_number %>
        </td>
    </tr>
	 <tr>
		<td>
			<%= f.label :h2o %><br>
			<%= f.text_field :h2o %>
		</td>
		<td>
			<%= f.label :buffer %><br>
			<%= f.text_field :buffer %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :mgcl2 %><br>
			<%= f.text_field :mgcl2 %>
		</td>
		<td>
			<%= f.label :bsa %><br>
			<%= f.text_field :bsa %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :taq %><br>
			<%= f.text_field :taq %>
		</td>

		<td>
			<%= f.label :dntps %><br>
			<%= f.text_field :dntps %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :notes %><br>
			<%= f.text_area :notes ,:size=>'80x20' %>
		</td>
	</tr>

</table>