<h1>Editing PCR Reaction</h1>


  
<%= form_for(@pcr) do |f| %>
	<%=render :partial => 'form',:locals => { :f => f }%>	

    <%= f.submit 'Update' %>

<% end %>

<%= button_to 'Show', @pcr ,{:method=>:get}%> 
<%= button_to 'Delete', @pcr,{:method=>:delete} %>