<h1>Editing</h1>

<% form_for(@pcr) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pcr_tube_number %><br />
    <%= f.text_field :pcr_tube_number %>
  </p>
  <p>
    <%= f.label :gel_image %><br />
    <%= f.text_field :gel_image %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :anneal_temp %><br />
    <%= f.text_field :anneal_temp %>
  </p>
  <p>
    <%= f.label :dna_amount %><br />
    <%= f.text_field :dna_amount %>
  </p>
  <p>
    <%= f.label :conditions %><br />
    <%= f.text_field :conditions %>
  </p>
  <p>
    <%= f.label :total_samples %><br />
    <%= f.text_field :total_samples %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.label :reamp %><br />
    <%= f.text_field :reamp %>
  </p>
  <p>
    <%= f.label :total_worked %><br />
    <%= f.text_field :total_worked %>
  </p>
  <p>
    <%= f.label :denature %><br />
    <%= f.text_field :denature %>
  </p>
  <p>
    <%= f.label :extension %><br />
    <%= f.text_field :extension %>
  </p>
  <p>
    <%= f.label :cycle %><br />
    <%= f.text_field :cycle %>
  </p>
  <p>
    <%= f.label :primerl %><br />
    <%= f.text_field :primerl %>
  </p>
  <p>
    <%= f.label :primerh %><br />
    <%= f.text_field :primerh %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pcr %> |
<%= link_to 'Back', pcrs_path %>