<h1>Editing PCR Reation</h1>

<%= form_for(@pcr) do |f| %>
  

  		<table>
			<tr>
				<td>
					<%= f.label "Project" %>
					<%= f.select(:projects,Project.all.collect{|pro|[pro.project_name,pro.id]}) %>
				</td>
				<td>
				<%= f.label "DNA Sample" %>
				<%= f.select(:dnasamples, Dnasample.all.collect{|dna| [[dna.dna_accession,dna.dnasample_number].join(" "),dna.id]} ,options={:include_blank=>true}) %><%= link_to image_tag("show.png", :border=>0), {},{:id=>"sample_link"} %>
				</td>
								<td style="background-color:#D5FFC8;
padding:4px;
padding-bottom:200px;
border:1px solid #d4d4d4;
width:300px;
font-size:100%;
position:fixed;
">DNA Sample Stats
<div class="dnasample_stats" ></div></td>
			</tr>
			 <tr>
				<td>
					<%= f.label :h2o %><br>
					<%= f.text_field :h2o %>
				</td>
				<td>
					<%= f.label :buffer %><br>
					<%= f.text_field :buffer %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :mgcl2 %><br>
					<%= f.text_field :mgcl2 %>
				</td>
				<td>
					<%= f.label :bsa %><br>
					<%= f.text_field :bsa %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :taq %><br>
					<%= f.text_field :taq %>
				</td>

				<td>
					<%= f.label :dntps %><br>
					<%= f.text_field :dntps %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :notes %><br>
					<%= f.text_field :notes %>
				</td>
			</tr>
		
		</table>
		<p>
			<%=render :partial => '/primerselect'%>
		</p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= button_to 'Show', @pcr ,{:method=>:get}%> 
<%= button_to 'Delete', @pcr,{:method=>:delete} %>