<div class="pcrs_index">
<h1>PCR Reactions</h1>
<%= button_to 'New pcr', new_pcr_path, {:method=>:get} %>
<table>
  <tr id="header_row">
	<th>Id</th>
    <th >Tube Number</th>
       
       
    <th > DNA Amount</th>
       
    <th  >Total Samples</th>
       
    <th >Total Worked</th>
    <th  >Reamp</th>

    <th  >Date</th>
       
  </tr>

<% @pcrs.each do |pcr| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td class='idfield'><%= pcr.id %>
	<td><%=h pcr.pcr_tube_number %></td>


    <td><%=h pcr.dna_amount %></td>

    <td><%=h pcr.total_samples %></td>

    <td><%=h pcr.total_worked %></td>
    <td><%=h pcr.reamp %></td>

	
    <td><%=h pcr.date %></td>

   	<td class="icons" id="show"><%= link_to image_tag("show.png", :border=>0), pcr%></td>
 	<td class="icons"><%= link_to image_tag("edit.png", :border=>0), edit_pcr_path(pcr)%></td>

  </tr>
<% end %>
</table>
<%= will_paginate @pcrs %> 
Per Page: <%= select_tag :per_page, options_for_select([10,20,50,100,200], params[:per_page].to_i),
               :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
<br />


</div>