<h1>PCR Reactions</h1>
<%= button_to 'New pcr', new_pcr_path, {:method=>:get} %>
<table class="custom">
  <tr class="custom">
	<th class="custom" id="lesswide"><%= sortable 'id' %></th>
    <th class="custom"><%= sortable 'pcr_tube_number', 'Tube #' %></th>


    <th class="custom"><%= sortable 'dna_amount', 'DNA Amount' %></th>

    <th class="custom"><%= sortable 'total_samples', "Total Samples" %></th>

    <th class="custom"><%= sortable 'total_worked' %></th>
    <th class="custom"><%= sortable 'reamp' %></th>
	<th class="custom"><%= sortable 'Success?' %></th>
	<th class="custom"><%= sortable 'Ready?' %></th>
    <th class="custom"><%= sortable 'date' %></th>

  </tr>
<%= will_paginate @pcrs %> 
Per Page: <%= select_tag :per_page, options_for_select([10,20,50,100,200], params[:per_page].to_i),
               :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
<% @pcrs.each do |pcr| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td class='idfield'><%= pcr.id %>
	<td><%=h pcr.pcr_tube_number %></td>


    <td><%=h pcr.dna_amount %></td>

    <td><%=h pcr.total_samples %></td>

    <td><%=h pcr.total_worked %></td>
    <td><%=h pcr.reamp %></td>
	<td align="center" ><%=h success(pcr) %></td>
	<td align="center"><%=h ready(pcr) %></td>
	
    <td><%=h pcr.date %></td>

   	<td class="icons"><%= link_to image_tag("show.png", :border=>0), pcr%></td>
 	<td class="icons"><%= link_to image_tag("edit.png", :border=>0), edit_pcr_path(pcr)%></td>
 	<td class="icons"><%= link_to image_tag("delete.png", :border=>0), pcr, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pcr', new_pcr_path %>