<h1>Listing pcrs</h1>

<table>
  <tr>
    <th>Pcr tube number</th>
    <th>Gel image</th>
    <th>Date</th>
    <th>Anneal temp</th>
    <th>Dna amount</th>
    <th>Conditions</th>
    <th>Total samples</th>
    <th>Notes</th>
    <th>Reamp</th>
    <th>Total worked</th>
    <th>Denature</th>
    <th>Extension</th>
    <th>Cycle</th>
    <th>Primerl</th>
    <th>Primerh</th>
  </tr>

<% @pcrs.each do |pcr| %>
  <tr>
    <td><%=h pcr.pcr_tube_number %></td>
    <td><%=h pcr.gel_image %></td>
    <td><%=h pcr.date %></td>
    <td><%=h pcr.anneal_temp %></td>
    <td><%=h pcr.dna_amount %></td>
    <td><%=h pcr.conditions %></td>
    <td><%=h pcr.total_samples %></td>
    <td><%=h pcr.notes %></td>
    <td><%=h pcr.reamp %></td>
    <td><%=h pcr.total_worked %></td>
    <td><%=h pcr.denature %></td>
    <td><%=h pcr.extension %></td>
    <td><%=h pcr.cycle %></td>
    <td><%=h pcr.primerl %></td>
    <td><%=h pcr.primerh %></td>
    <td><%= link_to 'Show', pcr %></td>
    <td><%= link_to 'Edit', edit_pcr_path(pcr) %></td>
    <td><%= link_to 'Destroy', pcr, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pcr', new_pcr_path %>