<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>
			New PCR Reaction
		</h1>
		<%= form_for(@pcr) do |f| %>
		<table>
			<tr>
				<td>
				<%= f.label "DNA Sample" %>
				<%= f.select(:dnasamples, Dnasample.all.collect{|dna| [[dna.dna_accession,dna.dnasample_number].join(" "),dna.id]} ,options={:include_blank=>true}) %><%= link_to image_tag("show.png", :border=>0), {},{:id=>"sample_link"} %>
				</td>
				<td style="background-color:#ffffff;
padding:4px;
padding-bottom:40px;
border:1px solid #d4d4d4;
width:300px;
font-size:100%;
">DNA Sample Stats
<div class="dnasample_stats"></div></td>
			</tr>
			
			</table>

		<table>

			
			 <tr>
				<td>
					<%= f.label :h2o %><br>
					<%= f.text_field :h2o %>
				</td>
				<td>
					<%= f.label :buffer %><br>
					<%= f.text_field :buffer %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :mgcl2 %><br>
					<%= f.text_field :mgcl2 %>
				</td>
				<td>
					<%= f.label :bsa %><br>
					<%= f.text_field :bsa %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :taq %><br>
					<%= f.text_field :taq %>
				</td>

				<td>
					<%= f.label :dntps %><br>
					<%= f.text_field :dntps %>
				</td>
			</tr>
			<tr>
				<td>
					<%= f.label :notes %><br>
					<%= f.text_field :notes %>
				</td>
			</tr>

		</table>
		<p>
			<%=render :partial => '/primerselect'%>
		</p>
		<p>
			<%= f.submit 'Create' %>
		</p><% end %><%= link_to 'Back', pcrs_path %>
	</body>
</html>
