<div style="float:right;padding-right:30%">
            <div id="buttons">
            	<b>PCR Information</b>
            	    <%= button_to 'XML',{:id=>@pcr.id, :format=>"xml"}, :method=>:get%>
                     <span>Updated <%= time_ago_in_words(@pcr.updated_at)%> ago</span><br>
                     <span>Created <%= time_ago_in_words(@pcr.created_at)%> ago</span><br>
                PCR <%= @pcr.id %> Tubes <%= link_to image_tag("show.png", :border=>0), pcr_tubes_path(@pcr)%>
                     

            </div>
        </div>
<h2>PCR <%= @pcr.id %></h2>
<p><b>PCR Name:</b><%= @pcr.pcr_tube_number %></p>

<%if @dnasample %>
<b>DNA Sample: </b><%= @dnasample.id %> <%= link_to image_tag("show.png", :border=>0), @dnasample%>
<%end%>
<p>
    <b>
        Total # of Tubes: 
    </b> 
    <%= @pcr.tubes.count %>
</p>

<hr/>
<h3>PCR Master Mix</h3>
<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td>
			<b>H2O:</b>
  			<%=h @pcr.h2o %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Buffer:</b>
			<%= @pcr.buffer %>
		</td>
	</tr>
	<tr>
		<td>
			<b>MgCl2:</b>
			<%= @pcr.mgcl2 %>
		</td>
	</tr>
	<tr>
		<td>
			<b>BSA:</b>
			<%= @pcr.bsa %>
		</td>
	</tr>
	<tr>
		<td>
			<b>TAQ:</b>
			<%= @pcr.taq %>
		</td>
	</tr>
	<tr>
		<td>
			<b>DNTPs:</b>
			<%= @pcr.dntps %>
		</td>
	</tr>
</table>
<hr/>

<div>


 <h3>
                Add and Remove Tubes using their ID
            </h3>
          <%= form_for(@pcr) do |f| %>
                <%= text_field 'pcr','tubesToAdd', :value=>"Ex: 3 or 3,4,5, or 3-5"%>
                <%= f.submit "Add" %>
                <% end %>
                
                <%= form_for(@pcr) do |f| %>
                    <%= text_field 'pcr','tubesToRemove', :value=>"Ex: 3 or 3,4,5, or 3-5, or all"%>
                    <%= f.submit "Remove" %>
                <% end %>

</div>
    <div >
        <h3>Available Recent Tubes</h3>
        <%= select(:tube,:id,Tube.all(:order=>'updated_at DESC').collect{|p| [p.id, p.id ]},{:include_blank=>true}) %>

        <div id="tube_info">
            <div id="tube_name">Tube Name:</div>
            <div id="tube_updated_at">Updated at:</div>
            <div id="tube_created_at">Created at:</div>
            
        </div>
        
    </div>




<hr/>
        <div>
            <h3>
                Notes:
            </h3>
            <%= form_for(@pcr) do |f| %>
                <%= text_area 'pcr','notes',:size=>'80x20' %><br>
                <%= f.submit "Save" %>
            <%end%>
        </div>





<div id="item_buttons">
	<%= button_to 'Edit', edit_pcr_path(@pcr),{:method=>:get} %> 
<%= button_to 'Delete', @pcr,{:method=>:delete} %>
</div>







