<p>
  <b>Pcr tube number:</b>
  <%=h @pcr.pcr_tube_number %>
</p>

<p>
  <b>Gel image:</b>
  <%=h @pcr.gel_image %>
</p>

<p>
  <b>Date:</b>
  <%=h @pcr.date %>
</p>

<p>
  <b>Anneal temp:</b>
  <%=h @pcr.anneal_temp %>
</p>

<p>
  <b>Dna amount:</b>
  <%=h @pcr.dna_amount %>
</p>

<p>
  <b>Conditions:</b>
  <%=h @pcr.conditions %>
</p>

<p>
  <b>Total samples:</b>
  <%=h @pcr.total_samples %>
</p>

<p>
  <b>Notes:</b>
  <%=h @pcr.notes %>
</p>

<p>
  <b>Reamp:</b>
  <%=h @pcr.reamp %>
</p>

<p>
  <b>Total worked:</b>
  <%=h @pcr.total_worked %>
</p>

<p>
  <b>Denature:</b>
  <%=h @pcr.denature %>
</p>

<p>
  <b>Extension:</b>
  <%=h @pcr.extension %>
</p>

<p>
  <b>Cycle:</b>
  <%=h @pcr.cycle %>
</p>

<p>
  <b>Primerl:</b>
  <%=h @pcr.primerl %>
</p>

<p>
  <b>Primerh:</b>
  <%=h @pcr.primerh %>
</p>


<%= link_to 'Edit', edit_pcr_path(@pcr) %> |
<%= link_to 'Back', pcrs_path %>