<div id="top_container" style="clear:both" >
    <div style="float:left">
        <table border="0" cellspacing="5" cellpadding="5">
            <col width="300px">
            <col width="300px">
            <tr align="left">
                <th >
                    <h2>PCR Information</h2>
                </th>
                <th>
                    <h2>Master Mix</h2>
                </th>
            </tr>
	        <tr>
		        <td>
			        <b>PCR Name:</b>
  			        <%=h @pcr.pcr_tube_number %>
		        </td>
		        <td>
		          <b>H2O:</b>
		          <%=h @pcr.h2o %>		          
		        </td>
	        </tr>
	        <tr>
	            <td>
                    <%if @dnasample %>
                    <b>DNA Sample: </b><%= @dnasample.id %> <%= link_to image_tag("show.png", :border=>0), @dnasample%>
                    <%end%>
	            </td>
	        	<td>
        			<b>Buffer:</b>
        			<%= @pcr.buffer %>
        		</td>
        	</tr>
        	<tr>
        	    <td>
        	       <b># of Tubes:</b>
        	         <%= @pcr.tubes.count %>
        	    </td>
        		<td>
        			<b>MgCl2:</b>
        			<%= @pcr.mgcl2 %>
        		</td>
        	</tr>
        	<tr>
        	    <td>
        	       <b>Tube Success Rate</b>
                   <%= @stats[:successPercentage].round(1) %>%
        	    </td>
        		<td>
        			<b>BSA:</b>
        			<%= @pcr.bsa %>
        		</td>
        	</tr>
        	<tr>
        	    <td>
        	       <b>Tube Ready Rate</b>
        	       <%= @stats[:readyPercentage].round(1) %>%
        	    </td>
        		<td>
        			<b>TAQ:</b>
        			<%= @pcr.taq %>
        		</td>
        	</tr>
        	<tr>
        		<td>
        			<b>DNTPs:</b>
        			<%= @pcr.dntps %>
        		</td>
        	</tr>
        </table>       
    </div>
    <div style="padding-top:30px">

        	<b>Document Attributes</b>
        	    <%= button_to 'XML',{:id=>@pcr.id, :format=>"xml"}, :method=>:get%>
                 <span>Updated <%= time_ago_in_words(@pcr.updated_at)%> ago</span><br>
                 <span>Created <%= time_ago_in_words(@pcr.created_at)%> ago</span><br>
            PCR <%= @pcr.id %> Tubes <%= link_to image_tag("show.png", :border=>0), pcr_tubes_path(@pcr)%>             

    </div>
</div>
 <div id="middle_container" style="clear:both">
     <div>
        <h3>Create and Add a new Tube</h3>
        <%= form_for(@pcr) do |pcr| %>
                Primer ID
                <%= text_field 'tubes','primerID' %><br>
                <%= hidden_field 'tubes','hiddenPrimerID' %>
                <%= pcr.submit "Create" %>

        <%end %>
     </div>
     <div>
        <h3>
                    Add and Remove existing Tubes using their ID
                </h3>
              <%= form_for(@pcr) do |f| %>
                    <%= text_field 'pcr','tubesToAdd', :value=>"Ex: 3 or 3,4,5, or 3-5"%>
                    <%= f.submit "Add" %>
                    <% end %>
                
                    <%= form_for(@pcr) do |f| %>
                        <%= text_field 'pcr','tubesToRemove', :value=>"Ex: 3 or 3,4,5, or 3-5, or all"%>
                        <%= f.submit "Remove" %>
                    <% end %>
     </div>
 </div>           

