
<h3>
	PCR Reaction
</h3>
<%= link_to "Tubes", pcr_tubes_path(@pcr) %>
<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td>
			<b>H2O:</b>
  			<%=h @pcr.h2o %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Buffer</b>
			<%= @pcr.buffer %>
		</td>
	</tr>
	<tr>
		<td>
			<b>MgCl2</b>
			<%= @pcr.mgcl2 %>
		</td>
	</tr>
	<tr>
		<td>
			<b>BSA</b>
			<%= @pcr.bsa %>
		</td>
	</tr>
	<tr>
		<td>
			<b>TAQ</b>
			<%= @pcr.taq %>
		</td>
	</tr>
	<tr>
		<td>
			<b>DNTPs</b>
			<%= @pcr.dntps %>
		</td>
	</tr>
</table>

  <b>Notes:</b><br>
  <%=h @pcr.notes %>

<%= form_for(@pcr) do |f| %>
  <%= f.label "Tube ID" %>
  <%= f.text_field :tubes  %>
  <%= f.submit "Add" %>
<% end %>

<table border="0" cellspacing="5" cellpadding="5">
    <tr><th>Tube ID</th></tr>
    <% @pcr.tubes.each do |tube| %>
    <tr><td><%=h tube.id %></td></tr>
    <%end %>
</table>






<%= button_to 'Edit', edit_pcr_path(@pcr),{:method=>:get} %> 
<%= button_to 'Delete', @pcr,{:method=>:delete} %>