
<h3>
	PCR Reaction
</h3>

<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td>
			<b>H2O:</b>
  			<%=h @pcr.h2o %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Buffer</b>
			<%= @pcr.buffer %>
		</td>
	</tr>
	<tr>
		<td>
			<b>MgCl2</b>
			<%= @pcr.mgcl2 %>
		</td>
	</tr>
	<tr>
		<td>
			<b>BSA</b>
			<%= @pcr.bsa %>
		</td>
	</tr>
	<tr>
		<td>
			<b>TAQ</b>
			<%= @pcr.taq %>
		</td>
	</tr>
	<tr>
		<td>
			<b>DNTPs</b>
			<%= @pcr.dntps %>
		</td>
	</tr>
</table>

  <b>Notes:</b><br>
  <%=h @pcr.notes %>








<%= button_to 'Edit', edit_pcr_path(@pcr),{:method=>:get} %> 
<%= button_to 'Delete', @pcr,{:method=>:delete} %>