<h1>New Project</h1>

<%= form_for(@project) do |f| %>
  

	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td>
				<%= f.label "Date:" %>
    			<%= f.date_select :date %>
			</td>
			<td>
				<%= f.label :project_name %><br/>
		    	<%= f.text_field :project_name, :size=>20 %>
			</td>
		</tr>
   
	

	</table>


	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td>
				<%= f.label :notes %><br/>
			    <%= f.text_area :notes , :size=>"80x10"%>
			</td>
		</tr>
	</table>

 

    <%= f.submit 'Create' %>

<% end %>

<%= link_to 'Back', projects_path %>