
        <div style="float:right;padding-right:30%">
            <div id="buttons">
            	<b>Project Information</b>
            	    <%= button_to 'XML',{:id=>@project.id, :format=>"xml"}, :method=>:get%>
                     <span>Updated <%= time_ago_in_words(@project.updated_at)%> ago</span><br>
                     <span>Created <%= time_ago_in_words(@project.created_at)%> ago</span><br>
                     <span>Owner "SET OWNER ATTR"</span><br>
                Project <%= @project.id %> PCRS <%= link_to image_tag("show.png", :border=>0), project_pcrs_path(@project)%>
                     

            </div>
        </div>
        <div>
            <h2>Project <%= @project.id %></h2>
            <table border="0" cellspacing="5" cellpadding="5">
                <tr>
                    <td>
                        <b>Name:</b><%= @project.project_name %>
                    </td>
                </tr>
                
            </table>
        </div>

                    <hr>
        <div>

            <h3>
                Project <%= @project.id %> PCRS <%= link_to image_tag("show.png", :border=>0), project_pcrs_path(@project)%>
            </h3>
            <b>Total # of PCRS:</b> <%= @project.pcrs.count %>
            <h3>
                Add and Remove PCRS using their ID
            </h3>
          <%= form_for(@project) do |f| %>
                <div id="add_pcrs">
                <%= text_field 'project','pcrs', :value=>"Ex: 3 or 3,4,5, or 3-5"%>

                <%= f.submit "Add" %>

                <% end %>
                
                <%= form_for(@project) do |f| %>
                    <%= text_field 'project','pcrsToRemove', :value=>"Ex: 3 or 3,4,5, 3-5, or all"%>
                    <%= f.submit "Remove" %>
                <% end %>
                <%= button_to "Create PCR", new_pcr_path, {:method=>:get} %>
                                </div>
            <div>
                <h3>
                    Reference Recent PCRS
                </h3><%= select(:pcr,:id,Pcr.all(:order=>'updated_at DESC').collect{|p| [p.id, p.id ]},{:include_blank=>true}) %>
                <div id="pcr_info">
                    <div id="pcr_name">
                        PCR Name:
                    </div>
                    <div id="pcr_updated_at">
                        Updated at:
                    </div>
                    <div id="pcr_created_at">
                        Created at:
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div>
            <h3>
                Notes:
            </h3>
            <%= form_for(@project) do |f| %>
                <%= text_area 'project','notes',:size=>'80x20' %><br>
                <%= f.submit "Save" %>
            <%end%>
        </div>
        <div id="item_buttons">
            <%= button_to 'Edit', edit_project_path(@project),{:method=>:get} %>
            <%= button_to 'Delete', @project,{:method=>:delete} %>
        </div>
  