
<p><b>Date:</b> <%= @project.date %> <b>Project:</b><%= @project.project_name %></p>
<p><b>Total # of Samples: </b> <div class="totalSamples"><%= @project.total_samples %></div></p>
<%= hidden_field_tag "projectId", @project.id %>
<%= link_to "Pcrs", project_pcrs_path(@project) %>
<div class="premix">
	<table >

		<tr><td>BSA</td><td>  <%=h @project.bsa %></td></tr>
		<tr><td>Buffer</td><td>  <%=h @project.buffer %></td></tr>
		<tr><td>MgCl2</td><td>  <%=h @project.mgcl2 %></td></tr>
		<tr><td>TAQ  </td><td>   <%=h @project.taq %> </td></tr>
		<tr><td>H2O  </td><td>   <%=h @project.h2o %> </td></tr>
		<tr><td>dNTPs  </td><td> <%=h @project.dntps %>  </td></tr>
		<tr><td>primerL  </td><td>   <%=h @project.primerl_amount %> </td></tr>
		<tr><td>primerH  </td><td>   <%=h @project.primerh_amount %> </td></tr>
		<tr><td>DNA  </td><td> <%=h @project.dna %>  </td></tr>
		<tr><td>Total  </td><td> <%=h @project.total %> </td></tr>
		<tr><td>Total  </td><td> <%=h @project.notes %> </td></tr>
	</table>
</div>





<%= form_for(@project) do |f| %>
  <%= f.label "PCR ID" %>
  <%= f.text_field :pcrs  %>
  <%= f.submit "Add" %>
<% end %>

<table border="0" cellspacing="5" cellpadding="5">
    <tr><th>PCR ID</th></tr>
    <% @project.pcrs.each do |pcr| %>
    <tr><td><%=h pcr.id %></td></tr>
    <%end %>
</table>













<%= button_to 'Edit', edit_project_path(@project),{:method=>:get} %> 
<%= button_to 'Delete', @project,{:method=>:delete} %>