
<p><b>Project:</b><%= @project.project_name %></p>
<p><b>Updated:</b> <%= @project.updated_at %> </p>
<p><b>Created:</b> <%= @project.created_at %> </p>
<p>
    <b>
        Total # of PCRS: 
    </b> 
    <%= @project.pcrs.count %>
</p>

<%= link_to "Pcrs", project_pcrs_path(@project) %>





<%= form_for(@project) do |f| %>
<%= f.label "Add a PCR by its ID" %>
<%= text_field 'project','pcrs', :value=>""%>
  <%= f.submit "Add" %>
<% end %>

<div>
    <div class="projects_show">
    <table border="0" cellspacing="5" cellpadding="5">
        <tr>
            <th>PCR ID</th>
            <th>PCR Name</th>
            <th># of Tubes</th>
        </tr>
        <% @project.pcrs.each do |pcr| %>
        <tr>
            <td><%=h pcr.id %></td>
            <td><%=h pcr.pcr_tube_number %></td>
            <td><%=h pcr.tubes.count %></td>
            <td class="icons" id="show"><%= link_to image_tag("show.png", :border=>0), pcr%></td>
            <td><%= button_to "Remove PCR", remove_pcr_from_project_project_url(:project_id=>@project.id,:pcr_id=>pcr.id),{:method=>:delete}%>
        </tr>
        <%end %>
    </table>
    </div>
    <div class="projects_right">
        <h3>Available Recent PCRs</h3>
        <%= select(:pcr,:id,Pcr.all(:order=>'updated_at DESC').collect{|p| [p.id, p.id ]},{:include_blank=>true}) %>

        <div id="pcr_info">
            <div id="pcr_name">PCR Name:</div>
            <div id="pcr_updated_at">Updated at:</div>
            <div id="pcr_created_at">Created at:</div>
            
        </div>
        
    </div>

</div>








<div id="item_buttons">
<%= button_to 'Edit', edit_project_path(@project),{:method=>:get} %> 
<%= button_to 'Delete', @project,{:method=>:delete} %>
</div>