
<p><b>Project:</b><%= @project.project_name %></p>
<p><b>Updated:</b> <%= @project.updated_at %> </p>
<p><b>Created:</b> <%= @project.created_at %> </p>
<p>
    <b>
        Total # of PCRS: 
    </b> 
    <%= @project.pcrs.count %>
</p>

<%= button_to "Pcrs", project_pcrs_path(@project) %>





<%= form_for(@project) do |f| %>
<%= f.label "Add a PCR by its ID" %>
<%= text_field 'project','pcrs', :value=>""%>
  <%= f.submit "Add" %>
<% end %>



<table border="0" cellspacing="5" cellpadding="5">
    <tr>
        <th>PCR ID</th>
        <th>PCR Name</th>
        <th># of Tubes</th>
    </tr>
    <% @project.pcrs.each do |pcr| %>
    <tr>
        <td><%=h pcr.id %></td>
        <td><%=h pcr.pcr_tube_number %></td>
        <td><%=h pcr.tubes.count %></td>
        <td class="icons" id="show"><%= link_to image_tag("show.png", :border=>0), pcr%></td>
        <td><%= button_to "Remove PCR", remove_pcr_from_project_project_url(:project_id=>@project.id,:pcr_id=>pcr.id),{:method=>:delete}%>
    </tr>
    <%end %>
</table>













<%= button_to 'Edit', edit_project_path(@project),{:method=>:get} %> 
<%= button_to 'Delete', @project,{:method=>:delete} %>