<h1>Experiments</h1>
<% form_tag experiments_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
	<%=hidden_field_tag :direction, params[:direction]%>
	<%=hidden_field_tag :sort, params[:sort]%>

<% end %>



</p>
<%= link_to 'New experiment', {:action=>"new"},{:method=>"get"}, {:class=>'newButton'} %>


<table class="custom">
  <tr >
    <th class="custom" ></th>
    <th class ="custom"></th>
    <th class ="custom"></th>
    <th class ="custom"></th>
	<th stlye=></th>

  </tr>                

<% @experiments.each do |experiment| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td class='idfield'><%=h experiment.id %></td>
    <td><%=h experiment.date %></td>
    <td><%=h experiment.total_samples %></td>
    <td><%=h experiment.updated_at %></td>
 	<td class="icons"><%= link_to image_tag("show.png", :border=>0), experiment%></td>
 	<td class="icons"><%= link_to image_tag("edit.png", :border=>0), edit_experiment_path(experiment)%></td>
 	<td class="icons"><%= link_to image_tag("delete.png", :border=>0), experiment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />




