<p><b>Date:</b> <%= @experiment.date %> <b>Experiment:</b><%= @experiment.experiment_number %></p>
<%= hidden_field_tag "experimentId", @experiment.id %>
<div class="premix">
	<table >

		<tr><td>BSA</td><td>  <%=h @experiment.bsa %></td></tr>
		<tr><td>Buffer</td><td>  <%=h @experiment.buffer %></td></tr>
		<tr><td>MgCl2</td><td>  <%=h @experiment.mgcl2 %></td></tr>
		<tr><td>TAQ  </td><td>   <%=h @experiment.taq %> </td></tr>
		<tr><td>H2O  </td><td>   <%=h @experiment.h2o %> </td></tr>
		<tr><td>dNTPs  </td><td> <%=h @experiment.dntps %>  </td></tr>
		<tr><td>primerL  </td><td>   <%=h @experiment.primerl_amount %> </td></tr>
		<tr><td>primerH  </td><td>   <%=h @experiment.primerh_amount %> </td></tr>
		<tr><td>DNA  </td><td> <%=h @experiment.dna %>  </td></tr>
		<tr><td>Total  </td><td> <%=h @experiment.total %> </td></tr>
	</table>
</div>
<table class='custom'>
	<tr>
		<th class="custom"><%= sortable 'pcr_tube_number', "ids for now" %></th>
		<th class="custom"><%= sortable 'dna_sample_number' %></th>
		<th class="custom"><%= sortable 'lprimer' %></th>
		<th class="custom"><%= sortable 'hprimer' %></th>
	</tr>
<%@pcrs.each {|pcr,dnasample| %>

  <tr class="<%= cycle("even", "odd") %>">
	<td><%= pcr.id %></td>
	<td><%= dnasample.dna_accession %></td>
	<td><%= pcr.primerl %></td>
	<td><%= pcr.primerh %></td>
	</tr>
	<%} %>

<tr class="exp" id="0">
	<td class="custom"><%= select('experiment','pcrs',Pcr.all.collect {|p| [ p.id, p.id] }, {:include_blank => 'Select PCR'})%>	</td>
	<td class="dna"></td>
			<td class="primerl"></td>
		<td class="primerh"></td>
</tr>

</table>
<button class="save">Save</button>







<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>