<% form_tag experiment_path do %>
	<%= select :experiment, :pcrs, Pcr.all.collect { |m| [m.pcr_tube_number, m.id] }.sort, {:prompt=>'Please Select...'} %>
	<%= observe_field(:pcrs, :url => {:controller=> 'experiments',:action => "updatepcrmenu" },
                  :update => :pcr_field_div,
                  :with => :pcrs
            ) %> 
	<div id="pcr_field_div"></div>
        <%= submit_tag 'Submit' %>

<%= javascript_include_tag :defaults %>
<%= collection_select(nil, :id,  @experiments,  :id, :id,
                      {:prompt   => "Select a Genre"},
                      {:onchange => "#{remote_function(:url  => {:action => "updatepcrmenu"},
                                                       :with => "'id='+value")}"}) %>
<br/>
<div id="artists"><%= render :partial => 'pcr', :object => @pcrs %></div>
<div id="dnasamples"><%= render :partial => 'dnasamples',   :object => @dnasamples %></div>
<% end %>	

	<tr><td><b>Date: </b><%=h @experiment.date%></td>
	<td><b>Experiment: </b> <%=h @experiment.experiment_number%></td></tr>
	</br>
	
<table border="0" cellspacing="5" cellpadding="5">	
	
	<tr class="custom">
    <th class ="custom"><%= sortable 'pcr_tube_number'%>   </th>
    <th class ="custom">   <%= sortable 'dna_sample_number'%></th>
    <th class ="custom">   <%= sortable 'lprimer'%></th>
    <th class ="custom">   <%= sortable 'hprimer'%></th>
</tr>

<% @pcrsAll.each do |pcr| %>
<% @ids.each do |id| %>
  <tr class="<%= cycle("even", "odd") %>">
	<td><%= collection_select(:pcr, :id, @pcrsAll, :id, :pcr_tube_number)%></td>
	 <td><%=h pcr.pcr_tube_number %></td>
		 <td><%=h id.id %></td>
	<%end%>
		<%end%>
	</table>
	
	<td> PCRS <%@pcrs.each do |i|%>
	PCR	<%=h  i.id%>
		<%end%>
		<%@ids.each do |i|%>
	DNA	<%=h  i.id%>
		<%end%>
		</td>
</table>
<p>
  <b>Date:</b>
  <%=h @experiment.date %>
</p>

<p>
  <b>Anneal:</b>
  <%=h @experiment.anneal %>
</p>

<p>
  <b>Dna amount:</b>
  <%=h @experiment.dna_amount %>
</p>

<p>
  <b>Total samples:</b>
  <%=h @experiment.total_samples %>
</p>

<p>
  <b>Notes:</b>
  <%=h @experiment.notes %>
</p>

<p>
  <b>Experiment number:</b>
  <%=h @experiment.experiment_number %>
</p>

<p>
  <b>Bsa:</b>
  <%=h @experiment.bsa %>
</p>

<p>
  <b>Buffer:</b>
  <%=h @experiment.buffer %>
</p>

<p>
  <b>Mgcl2:</b>
  <%=h @experiment.mgcl2 %>
</p>

<p>
  <b>Taq:</b>
  <%=h @experiment.taq %>
</p>

<p>
  <b>H2o:</b>
  <%=h @experiment.h2o %>
</p>

<p>
  <b>Dntps:</b>
  <%=h @experiment.dntps %>
</p>

<p>
  <b>Dna:</b>
  <%=h @experiment.dna %>
</p>

<p>
  <b>Primerl amount:</b>
  <%=h @experiment.primerl_amount %>
</p>

<p>
  <b>Primerh amount:</b>
  <%=h @experiment.primerh_amount %>
</p>

<p>
  <b>Total:</b>
  <%=h @experiment.total %>
</p>

<p>
  <b>Primerl:</b>
  <%=h @experiment.primerl %>
</p>

<p>
  <b>Primerh:</b>
  <%=h @experiment.primerh %>
</p>
</table>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>