<p><b>Date:</b> <%= @experiment.date %> <b>Experiment:</b><%= @experiment.experiment_number %></p>
<table class='custom'>
	<tr>
		<th class="custom"><%= sortable 'pcr_tube_number' %></th>
		<th class="custom"><%= sortable 'dna_sample_number' %></th>
		<th class="custom"><%= sortable 'lprimer' %></th>
		<th class="custom"><%= sortable 'hprimer' %></th>
	</tr>
<% @experiments.each do |experiment|%>

<tr id="newexp">
	<td class="custom"><%= select('experiment','pcrs',Pcr.all.collect {|p| [ p.pcr_tube_number, p.id] }, {:prompt => 'Select PCR'})%>	</td>
	<td class="dna"></td>
		<td class="primerh"></td>
			<td class="primerl"></td>
</tr>
<%end%>
</table>


<hr/>
<h1>OLD</h1>
<% form_tag experiment_path do %>
	<%= select :experiment, :pcrs, Pcr.all.collect { |m| [m.pcr_tube_number, m.id] }.sort, {:prompt=>'Please Select...'} %>
	<%= observe_field(:pcrs, :url => {:controller=> 'experiments',:action => "updatepcrmenu" },
                  :update => :pcr_field_div,
                  :with => :pcrs
            ) %> 
	<div id="pcr_field_div"></div>
        <%= submit_tag 'Submit' %>


<%= collection_select(nil, :id,  @experiments,  :id, :id,
                      {:prompt   => "Select a Genre"},
                      {:onchange => "#{remote_function(:url  => {:action => "updatepcrmenu"},
                                                       :with => "'id='+value")}"}) %>
<br/>


<% end %>	

	<tr><td><b>Date: </b><%=h @experiment.date%></td>
	<td><b>Experiment: </b> <%=h @experiment.experiment_number%></td></tr>
	</br>
	
<table border="0" cellspacing="5" cellpadding="5">	
	
	<tr class="custom">
    <th class ="custom"><%= sortable 'pcr_tube_number'%>   </th>
    <th class ="custom">   <%= sortable 'dna_sample_number'%></th>
    <th class ="custom">   <%= sortable 'lprimer'%></th>
    <th class ="custom">   <%= sortable 'hprimer'%></th>
</tr>

<% @experiments.each do |experiment| %>
 
 <tr ><span>
	<td><div id="artists"><%= render :partial => 'pcr', :object => @pcrs %></div></td>
<td><div id="dnasamples_<%=h experiment.id %>"><%= render :partial => 'dnasamples',   :object => @dnasamples %></div></td>
<td><div id="lprimer"><%= render :partial => 'genes',   :object => @gene %></div></td>
<td><div id="hprimer"><%= render :partial => 'hprimer',   :object => @hrpimer %></div></td></span>
</tr><%end%>
		</table>
	
	
	
	
	<td> PCRS <%@pcrs.each do |i|%>
	PCR	<%=h  i.id%>
		<%end%>
		<%@ids.each do |i|%>
	DNA	<%=h  i.id%>
		<%end%>
		</td>
</table>

<% form_tag(:action => "submit") do %>
	<%=hidden_field_tag :pcr, params[:pcr]%>
	<%=hidden_field_tag :dnasample, params[:dnasample]%>
	<%=hidden_field_tag :gene, params[:gene]%>
	<%= submit_tag "Post", :name => "submit"%>
	<% end%>
  

<p>
  <b>Date:</b>
  <%=h @experiment.date %>
</p>

<p>
  <b>Anneal:</b>
  <%=h @experiment.anneal %>
</p>

<p>
  <b>Dna amount:</b>
  <%=h @experiment.dna_amount %>
</p>

<p>
  <b>Total samples:</b>
  <%=h @experiment.total_samples %>
</p>

<p>
  <b>Notes:</b>
  <%=h @experiment.notes %>
</p>

<p>
  <b>Experiment number:</b>
  <%=h @experiment.experiment_number %>
</p>

<p>
  <b>Bsa:</b>
  <%=h @experiment.bsa %>
</p>

<p>
  <b>Buffer:</b>
  <%=h @experiment.buffer %>
</p>

<p>
  <b>Mgcl2:</b>
  <%=h @experiment.mgcl2 %>
</p>

<p>
  <b>Taq:</b>
  <%=h @experiment.taq %>
</p>

<p>
  <b>H2o:</b>
  <%=h @experiment.h2o %>
</p>

<p>
  <b>Dntps:</b>
  <%=h @experiment.dntps %>
</p>

<p>
  <b>Dna:</b>
  <%=h @experiment.dna %>
</p>

<p>
  <b>Primerl amount:</b>
  <%=h @experiment.primerl_amount %>
</p>

<p>
  <b>Primerh amount:</b>
  <%=h @experiment.primerh_amount %>
</p>

<p>
  <b>Total:</b>
  <%=h @experiment.total %>
</p>

<p>
  <b>Primerl:</b>
  <%=h @experiment.primerl %>
</p>

<p>
  <b>Primerh:</b>
  <%=h @experiment.primerh %>
</p>
</table>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>