<p><b>Date:</b> <%= @experiment.date %> <b>Experiment:</b><%= @experiment.experiment_number %></p>
<p><b>Total # of Samples: </b> <div class="totalSamples"><%= @experiment.total_samples %></div></p>
<%= hidden_field_tag "experimentId", @experiment.id %>
<div class="premix">
	<table >

		<tr><td>BSA</td><td>  <%=h @experiment.bsa %></td></tr>
		<tr><td>Buffer</td><td>  <%=h @experiment.buffer %></td></tr>
		<tr><td>MgCl2</td><td>  <%=h @experiment.mgcl2 %></td></tr>
		<tr><td>TAQ  </td><td>   <%=h @experiment.taq %> </td></tr>
		<tr><td>H2O  </td><td>   <%=h @experiment.h2o %> </td></tr>
		<tr><td>dNTPs  </td><td> <%=h @experiment.dntps %>  </td></tr>
		<tr><td>primerL  </td><td>   <%=h @experiment.primerl_amount %> </td></tr>
		<tr><td>primerH  </td><td>   <%=h @experiment.primerh_amount %> </td></tr>
		<tr><td>DNA  </td><td> <%=h @experiment.dna %>  </td></tr>
		<tr><td>Total  </td><td> <%=h @experiment.total %> </td></tr>
	</table>
</div>

<table class='custom'>
	<tr>
		<th class="custom"><%= sortable 'id' %></th>
		<th class="custom"><%= sortable 'dna_accession' %></th>
		<th class="custom"><%= sortable 'success' %></th>
		<th class="custom"><%= sortable 'ready' %></th>
	</tr>
<%@dnasamples.each do |dna_sample| %>

  <tr class="<%= cycle("even", "odd") %>">
	<td class="customPrev"><%= dna_sample.id %></td>
	<td><%= dna_sample.dna_accession %></td>
	<td ><%= success(pcr) %></td>
	<td ><%= ready(pcr) %></td>
	</tr>
	 <%end%>

<tr class="exp" id="0">

	<td class="custom"><%= select('experiment','dnasamples',Dnasample.all.collect {|d| [ d.id, d.id] }, {:include_blank => 'Add DNA Sample'})%>	</td>
	<td class="dna"></td>
			<td class="accession"></td>
		<td class="primerh"></td>
			<td class="success" align="center"><%= check_box("pcr","pcr_success",{:checked=>false}) %></td>
			<td class="success" align="center"><%= check_box("pcr","pcr_ready",{:checked=>false}) %></td>
	</tr>

</table>
<button class="save">Save</button>



<% form_tag(:action => "sequencelayout") do %>
<%= hidden_field_tag "experimentId", @experiment.id %>
  <%= submit_tag "Prepare for Sequencing "%>
<% end -%>











<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>