
<table border="0" cellspacing="5" cellpadding="5">
	<tr><td><b>Date: </b><%=h @experiment.date%></td>
	<td><b>Experiment: </b> <%=h @experiment.experiment_number%></td></tr>
	<td> PCRS <%= @samples%></td>
</table>
<p>
  <b>Date:</b>
  <%=h @experiment.date %>
</p>

<p>
  <b>Anneal:</b>
  <%=h @experiment.anneal %>
</p>

<p>
  <b>Dna amount:</b>
  <%=h @experiment.dna_amount %>
</p>

<p>
  <b>Total samples:</b>
  <%=h @experiment.total_samples %>
</p>

<p>
  <b>Notes:</b>
  <%=h @experiment.notes %>
</p>

<p>
  <b>Experiment number:</b>
  <%=h @experiment.experiment_number %>
</p>

<p>
  <b>Bsa:</b>
  <%=h @experiment.bsa %>
</p>

<p>
  <b>Buffer:</b>
  <%=h @experiment.buffer %>
</p>

<p>
  <b>Mgcl2:</b>
  <%=h @experiment.mgcl2 %>
</p>

<p>
  <b>Taq:</b>
  <%=h @experiment.taq %>
</p>

<p>
  <b>H2o:</b>
  <%=h @experiment.h2o %>
</p>

<p>
  <b>Dntps:</b>
  <%=h @experiment.dntps %>
</p>

<p>
  <b>Dna:</b>
  <%=h @experiment.dna %>
</p>

<p>
  <b>Primerl amount:</b>
  <%=h @experiment.primerl_amount %>
</p>

<p>
  <b>Primerh amount:</b>
  <%=h @experiment.primerh_amount %>
</p>

<p>
  <b>Total:</b>
  <%=h @experiment.total %>
</p>

<p>
  <b>Primerl:</b>
  <%=h @experiment.primerl %>
</p>

<p>
  <b>Primerh:</b>
  <%=h @experiment.primerh %>
</p>
</table>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>