<p><b>Date:</b> <%= @experiment.date %> <b>Experiment:</b><%= @experiment.experiment_number %></p>

<div class="premix">
	<table class="custom">

		<tr><td>BSA</td><td>  <%=h @experiment.bsa %></td></tr>
		<tr><td>Buffer</td><td>  <%=h @experiment.buffer %></td></tr>
		<tr><td>MgCl2</td><td>  <%=h @experiment.mgcl2 %></td></tr>
		<tr><td>TAQ  </td><td>   <%=h @experiment.taq %> </td></tr>
		<tr><td>H2O  </td><td>   <%=h @experiment.h2o %> </td></tr>
		<tr><td>dNTPs  </td><td> <%=h @experiment.dntps %>  </td></tr>
		<tr><td>primerL  </td><td>   <%=h @experiment.primerl_amount %> </td></tr>
		<tr><td>primerH  </td><td>   <%=h @experiment.primerh %> </td></tr>
		<tr><td>DNA  </td><td> <%=h @experiment.dna %>  </td></tr>
		<tr><td>Total  </td><td> <%=h @experiment.total %> </td></tr>
	</table>
</div>
<table class='custom'>
	<tr>
		<th class="custom"><%= sortable 'pcr_tube_number', "ids for now" %></th>
		<th class="custom"><%= sortable 'dna_sample_number' %></th>
		<th class="custom"><%= sortable 'lprimer' %></th>
		<th class="custom"><%= sortable 'hprimer' %></th>
	</tr>


<tr class="exp" id="0">
	<td class="custom"><%= select('experiment','pcrs',Pcr.all.collect {|p| [ p.id, p.id] }, {:prompt => 'Select PCR'})%>	</td>
	<td class="dna"></td>
		<td class="primerh"></td>
			<td class="primerl"></td>
</tr>

</table>




<p>
  <b>Date:</b>
  <%=h @experiment.date %>
</p>

<p>
  <b>Anneal:</b>
  <%=h @experiment.anneal %>
</p>

<p>
  <b>Dna amount:</b>
  <%=h @experiment.dna_amount %>
</p>

<p>
  <b>Total samples:</b>
  <%=h @experiment.total_samples %>
</p>

<p>
  <b>Notes:</b>
  <%=h @experiment.notes %>
</p>

<p>
  <b>Experiment number:</b>
  <%=h @experiment.experiment_number %>
</p>

<p>
  <b>Bsa:</b>

</p>

<p>
  <b>Buffer:</b>

</p>

<p>
  <b>Mgcl2:</b>

</p>

<p>
  <b>Taq:</b>

</p>

<p>
  <b>H2o:</b>

</p>

<p>
  <b>Dntps:</b>
 
</p>

<p>
  <b>Dna:</b>
 
</p>

<p>
  <b>Primerl amount:</b>

</p>

<p>
  <b>Primerh amount:</b>
  <%=h @experiment.primerh_amount %>
</p>

<p>
  <b>Total:</b>
  
</p>

<p>
  <b>Primerl:</b>
  <%=h @experiment.primerl %>
</p>

<p>
  <b>Primerh:</b>

</p>
</table>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>