<h1>Edit primer</h1>


<%= form_for(@primer) do |f| %>
	<%=render :partial => 'form',:locals => { :f => f }%>	
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<%= button_to 'Show', @primer ,{:method=>:get}%> 
<%= button_to 'Delete', @primer,{:method=>:delete} %>