<h1>Primers</h1>
<table>
	<tr>
		<th>Primer H</th>
		<th>Primer L</th>
	</tr>
	
	
	<%@primers.each do |primer| %>
	<tr>
		<td><%=h primer.primerh %></td>
		<td><%=h primer.primerl %></td>
		<td><%=h link_to "Show", primer %></td>
		<td><%=h link_to "Edit", edit_primer_path(primer) %></td>
	</tr>
	<%end%>
</table>
<%=h link_to "Create new", new_primer_path%>