<h1>Primers</h1>
<% form_tag primers_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
	<%=hidden_field_tag :direction, params[:direction]%>
	<%=hidden_field_tag :sort, params[:sort]%>

<% end %>
<%= button_to 'Create', new_primer_path,{:method=>:get,:class=>"button_create"} %>
	<div class="primers_index">
<table >
	<tr id="header_row">
		<th >Name</th>
		<th >Sequence</th>
		<th >Date Updated</th>
	</tr>
	
	
	<%@primers.each do |primer| %>

  <tr class="<%= cycle("even", "odd") %>">
		<td ><%=h primer.name %></td>
		<td ><%=h primer.sequence %></td>
		<td ><%=h primer.updated_at %></td>
		<td class="icons" id="show"><%= link_to image_tag("show.png", :border=>0), primer%></td>
	 	<td class="icons"><%= link_to image_tag("edit.png", :border=>0), edit_primer_path(primer)%></td>

	</tr>
	<%end%>
</table>

