<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td>
			<%= f.label :primer_id %><br>
			<%= f.text_field :primer_id %>
		</td>
	</tr>
		<tr>
		<td>
			<%= f.label :pcr_id %><br>
			<%= f.text_field :pcr_id %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :success %><br>
			<%= f.check_box :success %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :ready %><br>
			<%= f.check_box :ready %>
		</td>
	</tr>

</table>
