<div class="taxonomies_index">
<h1>Tubes</h1>
<h4><em><%= "#{@tubesCount} total" %></em></h4>


<%= button_to 'Create', new_tube_path,{:method=>:get,:class=>"button_create"} %>
<%if @tubes%>
<% @tubes.each do |k,v| %>
<h3>PCR <%= k %>
    <%if k.class==Fixnum%>
        <%= link_to image_tag("show.png", :border=>0), "/pcrs/#{k}"%>
    <%end%>
</h3>
    <table >
      <tr id="header_row">
    	<th width="100px" >ID</th>
    	<th width="100px">Success</th>
    	<th width="100px">Ready</th>
      </tr>

    <% v.each do |t| %>
      <tr class="<%= cycle("even", "odd") %>">
    	<td align="center" >
    	    <%=h t.id %>
    	</td>

        <td align="center">
            <%if t.success==true %>
                <span style="float:center;" class="ui-icon ui-icon-check"></span>
            <%else%>
                <span style="float:center;" class="ui-state-error ui-icon ui-icon-cancel"></span>
            <%end%>
            </td>
        <td align="center">
            <%if t.ready==true %>
                <span style="float:center;" class="ui-icon ui-icon-check"></span>
            <%else%>
                <span style="float:center;" class="ui-state-error ui-icon ui-icon-cancel"></span>
            <%end%>
        </td>

        <td class="icons" id="show"><%= link_to image_tag("show.png", :border=>0), t%></td>
     	<td class="icons"><%= link_to image_tag("edit.png", :border=>0), edit_tube_path(t)%></td>

      </tr>

    <% end %>

    </table>
    <hr/>

<%end%>
<%else%>

<h3>PCR <%= params[:pcr_id] %>
        <%= link_to image_tag("show.png", :border=>0), "/pcrs/#{params[:pcr_id]}"%>
</h3>

    <table >
      <tr id="header_row">
    	<th width="100px" >ID</th>
    	<th width="100px">Success</th>
    	<th width="100px">Ready</th>
      </tr>

<%@tubes_for_pcr.each do |t|%>
      <tr class="<%= cycle("even", "odd") %>">
    	<td align="center" >
    	    <%=h t.id %>
    	</td>

        <td align="center">
            <%if t.success==true %>
                <span style="float:center;" class="ui-icon ui-icon-check"></span>
            <%else%>
                <span style="float:center;" class="ui-state-error ui-icon ui-icon-cancel"></span>
            <%end%>
            </td>
        <td align="center">
            <%if t.ready==true %>
                <span style="float:center;" class="ui-icon ui-icon-check"></span>
            <%else%>
                <span style="float:center;" class="ui-state-error ui-icon ui-icon-cancel"></span>
            <%end%>
        </td>

        <td class="icons" id="show"><%= link_to image_tag("show.png", :border=>0), t%></td>
     	<td class="icons"><%= link_to image_tag("edit.png", :border=>0), edit_tube_path(t)%></td>

      </tr>

<%end%>

    </table>



<%end%>
<br />

</div>