<div class="taxonomies_index">
<h1>Tubes</h1>


<%= button_to 'Create', new_tube_path,{:method=>:get,:class=>"button_create"} %>
<% @tubes.each do |k,v| %>
<h3>PCR <%= k %>
    <%if k.class==Fixnum%>
        <%= link_to image_tag("show.png", :border=>0), "/pcrs/#{k}"%>
    <%end%>
</h3>
    <table >
      <tr id="header_row">
    	<th>ID</th>
    	<th>Success</th>
    	<th>Ready</th>
      </tr>

    <% v.each do |t| %>
      <tr class="<%= cycle("even", "odd") %>">
    	<td >
    	    <%=h t.id %>
    	</td>

        <td>
            <%if t.success==true %>
                <span style="float:center;" class="ui-icon ui-icon-check"></span>
            <%else%>
                <span style="float:center;" class="ui-state-error ui-icon ui-icon-cancel"></span>
            <%end%>
            </td>
        <td>
            <%if t.ready==true %>
                <span style="float:center;" class="ui-icon ui-icon-check"></span>
            <%else%>
                <span style="float:center;" class="ui-state-error ui-icon ui-icon-cancel"></span>
            <%end%>
        </td>

        <td class="icons" id="show"><%= link_to image_tag("show.png", :border=>0), t%></td>
     	<td class="icons"><%= link_to image_tag("edit.png", :border=>0), edit_tube_path(t)%></td>

      </tr>
    <% end %>
    </table>
<%end%>

Per Page: <%= select_tag :per_page, options_for_select([10,20,50,100,200], params[:per_page].to_i),
               :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>

<br />

</div>