<h3>Tube <%= @tube.id %></h3>
<table border="0" cellspacing="5" cellpadding="5">
    <tr>
        <td>
            PrimerID:<%if @tube.primer%>  
                    <%=h @tube.primer.name %>   <%= link_to image_tag("show.png", :border=>0), @tube.primer%> 
                    <%end%>
        </td>
    </tr>
    <tr>
        <td>
            PCRID:  <%if @tube.pcr%>
                    <%=h @tube.pcr.pcr_tube_number %><%= link_to image_tag("show.png", :border=>0), @tube.pcr%>
                    <%end%>
        </td>
    </tr>
    <tr>
        <td>
            <%if @tube.success==true%>
            Success: True
            <%elsif @tube.success==false%>
            Success: False
            <%else%>
            Success: Not Set
            <%end%>
        </td>
    </tr>
    <tr>
        <td>
            <%if @tube.ready==true%>
            Ready: True
            <%elsif @tube.ready==false%>
            Ready: False
            <%else%>
            Ready: Not Set
            <%end%>            
        </td>
    </tr>

    
</table>
<hr/>
<div>
    <h3>Result of Experiment</h3>
<%= form_for(@tube) do |f| %>
    <%= f.label :success %>
    <%= f.check_box :success %>
    <br>
    <%= f.label :ready %>
    <%= f.check_box :ready %>
    <br>

    
<%= f.submit 'Save' %>

<%end%>
</div>

<hr/>
<div><br><br><br>
    <%= button_to 'Edit', edit_tube_path(@tube),{:method=>:get} %> 
    <%= button_to 'Delete', @tube,{:method=>:delete} %>
</div>