<h1>Editing</h1>

<% form_for(@dnasample) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :dna_accession %><br />
    <%= f.text_field :dna_accession %>
  </p>
  <p>
    <%= f.label :dnasample_number %><br />
    <%= f.text_field :dnasample_number %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :method %><br />
    <%= f.text_field :method %>
  </p>
  <p>
    <%= f.label :elution_volume %><br />
    <%= f.text_field :elution_volume %>
  </p>
  <p>
    <%= f.label :second_elute %><br />
    <%= f.text_field :second_elute %>
  </p>
  <p>
    <%= f.label :second_elute_volumne %><br />
    <%= f.text_field :second_elute_volumne %>
  </p>
  <p>
    <%= f.label :reextracted %><br />
    <%= f.text_field :reextracted %>
  </p>
  <p>
    <%= f.label :created_by %><br />
    <%= f.text_field :created_by %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @dnasample %> |
<%= link_to 'Back', dnasamples_path %>