<h1>
	Edit DNA Sample
</h1>

<h3>
	Obtain Tissue Samples
</h3>
<%= form_for(@dnasample) do |f| %>
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td>
				<%= f.label "Which taxonomy does this belong to?" %>
				<%= f.select(:taxonomies, Taxonomy.all.collect{|taxa| [[taxa.genus,taxa.species,taxa.subspecies].join(" "),taxa.id]} ,options={:include_blank=>true}) %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label "Date of sample collection"%><br>
				<%= f.date_select :date%>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label :dna_accession, "DNA Accession #" %><br>
				<%= f.text_field :dna_accession %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label "Collector Number" %>
				<%= f.text_field :collector_number %>
			</td>			
			<td>
				<%= f.label "Specimen Gender" %>
				<%= f.select(:specimen_gender,["Male","Female"],{:include_blank=>true}) %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label "Specific Location of Collection" %>
				<%= f.text_field :location_collected %>
			</td>
		</tr>

	</table>
	<h3>
		DNA Extraction
	</h3>
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td>
				<%= f.label "Extraction Method" %>
				<%= f.select(:method,["Qiagen DNeasy Blood & Tissue Kit","GeneClean Kit for Ancient DNA","Phenol Chloroform Extraction","Omega SQ Tissue DNA Kit"],{:include_blank=>true}) %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.label "Extraction Notes" %><br>
				<%= f.text_area :extraction_notes ,:cols=>130,:rows=>15%>
			</td>
		</tr>
	</table>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @dnasample %> |
<%= link_to 'Back', dnasamples_path %>