<h1>
	Edit DNA Sample
</h1>

<%= form_for(@dnasample) do |f| %>
	<%=render :partial => 'form',:locals => { :f => f }%>	
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= button_to 'Show', @dnasample ,{:method=>:get}%> 
<%= button_to 'Delete', @dnasample,{:method=>:delete} %>