<h1>DNA Samples</h1>

<table class="custom">
  <tr >
    <th class="custom" id="small"><%= sortable 'dna_accession', 'DNA' %></th>
    <th class="custom" id="small"><%= sortable 'dnasample_number', 'Sample #'%></th>
    <th class="custom" id="small"><%= sortable 'date'%></th>
    <th class="custom" id="small"><%= sortable 'method' %></th>
    <th class="custom" id="small"><%= sortable 'elution_volume'%></th>
    <th class="custom" id="small"><%= sortable 'second_elute'%></th>
    <th class="custom" id="small"><%= sortable 'second_elute_volumne' , "Second Volume"%></th>
    <th class="custom" id="small"><%= sortable 'Reextracted'%></th>
  </tr>                
<%= button_to 'New DNA Sample', {:action=>"new"}, {:class=>'newButton'} %>
<%= will_paginate @dnasamples %> 
Per Page: <%= select_tag :per_page, options_for_select([10,20,50,100,200], params[:per_page].to_i),
               :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
<% @dnasamples.each do |dnasample| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%=h dnasample.dna_accession %></td>
    <td><%=h dnasample.dnasample_number %></td>
    <td><%=h dnasample.date %></td>
    <td><%=h dnasample.method %></td>
    <td><%=h dnasample.elution_volume %></td>
    <td><%=h dnasample.second_elute %></td>
    <td><%=h dnasample.second_elute_volumne %></td>
    <td><%=h dnasample.reextracted %></td>
    <td class="icons"><%= link_to image_tag("show.png", :border=>0), dnasample%></td>
 	<td class="icons"><%= link_to image_tag("edit.png", :border=>0), edit_dnasample_path(dnasample)%></td>
 	<td class="icons"><%= link_to image_tag("delete.png", :border=>0), dnasample, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dnasample', new_dnasample_path %>