<h3>
	General
</h3>
	<table  border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td>
				<b>Project: </b><%= @dnasample.projects.collect{|project|[project.project_name]} %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Belongs to the following Taxonomy Record </b><br>
				<%= @dnasample.taxonomy.genus%>

			</td>
		</tr>
		<tr>
			<td>
				<b>Date of sample collection</b><br>
				<%= @dnasample.date%>
			</td>
		</tr>
		<tr>
			<td>
				<b>DNA Accession #</b><br>
				<%=@dnasample.dna_accession %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Collector #</b>
				<%= @dnasample.collector_number %>
			</td>			
		</tr>
		<tr>
			<td>
				<b>Specimen Gender</b>
				<%= @dnasample.specimen_gender %>		
			</td>
		</tr>
		

	</table>
	
	<div id='map'><b>Specific Location of Collection</b><br>
				<%= @dnasample.location_collected %><%= image_tag("http://maps.googleapis.com/maps/api/staticmap?center=#{@coords['lat']},#{@coords['lng']}&zoom=5&size=400x400&sensor=false") %></div>
	<h3>
		DNA Extraction
	</h3>
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td>
				<b>Extraction Method</b>
				<%= @dnasample.method %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Extraction Notes</b><br>
				<%= @dnasample.extraction_notes %>
			</td>
		</tr>
	</table>
<hr/>



<%= link_to 'Edit', edit_dnasample_path(@dnasample) %> |
<%= link_to 'Back', dnasamples_path %>