<p>
  <b>Dna accession:</b>
  <%=h @dnasample.dna_accession %>
</p>

<p>
  <b>Dnasample number:</b>
  <%=h @dnasample.dnasample_number %>
</p>

<p>
  <b>Date:</b>
  <%=h @dnasample.date %>
</p>

<p>
  <b>Method:</b>
  <%=h @dnasample.method %>
</p>

<p>
  <b>Elution volume:</b>
  <%=h @dnasample.elution_volume %>
</p>

<p>
  <b>Second elute:</b>
  <%=h @dnasample.second_elute %>
</p>

<p>
  <b>Second elute volumne:</b>
  <%=h @dnasample.second_elute_volumne %>
</p>

<p>
  <b>Reextracted:</b>
  <%=h @dnasample.reextracted %>
</p>

<p>
  <b>Created by:</b>
  <%=h @dnasample.created_by %>
</p>


<%= link_to 'Edit', edit_dnasample_path(@dnasample) %> |
<%= link_to 'Back', dnasamples_path %>