<h3>
	General
</h3>
	<table  border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td>
				<b>Project: </b><%= @dnasample.projects.collect{|project|[project.project_name].join(" ")} %>
			</td>
			<td rowspan="8">
				<%= image_tag(@googlemap) %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Belongs to the following Taxonomy Record </b><br>
				<%= @taxonomy %>
			</td>
		</tr>
		<tr>
			<td>
				<b>DNA Accession:</b><br>
				<%=@dnasample.dna_accession %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Collector Number:</b><br>
				<%= @dnasample.collector_number %>
			</td>			
		</tr>
		<tr>
			<td>
				<b>Collection Location:</b><br>
				<%= @dnasample.location_collected %><br>
				<b>Estimated Coordinates: </b><br>
				<%= @coords['lng'] %>,<%= @coords['lat'] %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Museum:</b><br>
				<%= @dnasample.museum %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Sample Type:</b><br>
				<%= @dnasample.sample_type %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Specimen Gender</b>
				<%= @dnasample.specimen_gender %>		
			</td>
		</tr>
		

	</table>
	
	
	<h3>
		DNA Extraction
	</h3>
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>			
			<td>
				<b>Extraction Number</b>
				<%= @dnasample.dnasample_number %>
			</td>
		<tr>	
			<td>
				<b>Date of sample collection</b><br>
				<%= @dnasample.date%>
			</td>
		</tr>
		<tr>
			<td>
				<b>Extraction Method</b><br>
				<%= @dnasample.method %>
			</td>
		</tr>
		<tr>
			<td>
				<b>First Elution Volume</b><br>
				<%= @dnasample.first_elution_volume %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Second Elution Volume</b><br>
				<%= @dnasample.second_elution_volume %>
			</td>
		</tr>
		
		<tr>
			<td>
				<b>Extraction Notes</b><br>
				<%= @dnasample.extraction_notes %>
			</td>
		</tr>
	</table>
<hr/>



<%= link_to 'Edit', edit_dnasample_path(@dnasample) %> |
<%= link_to 'Back', dnasamples_path %>