<p>
  <b>Dna accession:</b>
  <%=h @dnasample.dna_accession %>
</p>

<p>
  <b>Dnasample number:</b>
  <%=h @dnasample.dnasample_number %>
</p>

<p>
  <b>Date:</b>
  <%=h @dnasample.date %>
</p>

<p>
  <b>Method:</b>
  <%=h @dnasample.method %>
</p>

<p>
  <b>Elution volume:</b>
  <%=h @dnasample.elution_volume %>
</p>

<p>
  <b>Second elute:</b>
  <%=h @dnasample.second_elute %>
</p>

<p>
  <b>Second elute volumne:</b>
  <%=h @dnasample.second_elute_volumne %>
</p>

<p>
  <b>Reextracted:</b>
  <%=h @dnasample.reextracted %>
</p>
<hr/>
<h5>Associate this DNA sample with a gene.</h5>
<%= form_tag(:action => "submitgene") do %>
<p>	<%= select('dnasample','genes',Gene.all.collect {|p| [ p.genbank, p.id] }, {:prompt => 'Select Gene'})%> Select a Gene by its Genbank ID in the <%= link_to "Genes", genes_path %> table.</p>
<p><%=h  hidden_field_tag(:dnasampleid, @dnasample.id) %></p>

<%= submit_tag "Add"%>
<%end%>

<h5> Delete a gene association from this DNA Sample.</h5>
<%= form_tag(:action => "removegene") do %>
<p>	<%= select('dnasample','genes',@dnasamplegenes.all.collect {|p| [ p.genbank, p.id] }, {:prompt => 'Select Gene'})%> Select a Gene by its Genbank ID in the <%= link_to "Genes", genes_path %> table.</p>
<p><%=h  hidden_field_tag(:dnasampleid, @dnasample.id) %></p>

<%= submit_tag "Remove"%>
<%end%>


<%= link_to 'Edit', edit_dnasample_path(@dnasample) %> |
<%= link_to 'Back', dnasamples_path %>