<h3>
	Tissue Samples Obtained
</h3>
	<table div="left_table" border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td>
				<b>Belongs to the following Taxonomy Record </b><br>
				<%= @dnasample.taxonomies.collect{|taxa|[taxa.id,taxa.family,taxa.genus,taxa.species,taxa.subspecies].join(" ")} %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Date of sample collection</b><br>
				<%= @dnasample.date%>
			</td>
		</tr>
		<tr>
			<td>
				<b>DNA Accession #</b><br>
				<%=@dnasample.dna_accession %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Collector #</b>
				<%= @dnasample.collector_number %>
			</td>			
		</tr>
		<tr>
			<td>
				<b>Specimen Gender</b>
				<%= @dnasample.specimen_gender %>		
			</td>
		</tr>
		

	</table>
	
	<div id='map'><b>Specific Location of Collection</b><br>
				<%= @dnasample.location_collected %><%= image_tag("http://maps.googleapis.com/maps/api/staticmap?center=#{@coords['lat']},#{@coords['lng']}&zoom=5&size=400x400&sensor=false") %></div>
	<h3>
		DNA Extraction
	</h3>
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td>
				<b>Extraction Method</b>
				<%= @dnasample.method %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Extraction Notes</b><br>
				<%= @dnasample.extraction_notes %>
			</td>
		</tr>
	</table>
<hr/>
<h5>Associate this DNA sample with a gene.</h5>
<%= form_tag(:action => "submitgene") do %>
<p>	<%= select('dnasample','genes',Gene.all.collect {|p| [ p.genbank, p.id] }, {:prompt => 'Select Gene'})%> Select a Gene by its Genbank ID in the <%= link_to "Genes", genes_path %> table.</p>
<p><%=h  hidden_field_tag(:dnasampleid, @dnasample.id) %></p>

<%= submit_tag "Add"%>
<%end%>

<h5> Delete a gene association from this DNA Sample.</h5>
<%= form_tag(:action => "removegene") do %>
<p>	<%= select('dnasample','genes',@dnasamplegenes.all.collect {|p| [ p.genbank, p.id] }, {:prompt => 'Select Gene'})%> Select a Gene by its Genbank ID in the <%= link_to "Genes", genes_path %> table.</p>
<p><%=h  hidden_field_tag(:dnasampleid, @dnasample.id) %></p>

<%= submit_tag "Remove"%>
<%end%>


<%= link_to 'Edit', edit_dnasample_path(@dnasample) %> |
<%= link_to 'Back', dnasamples_path %>