<div class="taxonomies_index">
<h1>Taxonomy</h1>

<% form_tag taxonomies_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
	<%=hidden_field_tag :direction, params[:direction]%>
	<%=hidden_field_tag :sort, params[:sort]%>

<% end %>

<%= button_to 'Create', new_taxonomy_path,{:method=>:get,:class=>"button_create"} %>
<table >
  <tr id="header_row">
	<th>ID</th>
	<th>Family</th>
	<th>Genus</th>
	<th>Species</th>
	<th>Subspecies</th>
	<th>Country</th>
  </tr>

<% @taxonomies.each do |taxonomy| %>
  <tr class="<%= cycle("even", "odd") %>">
	<td ><%=h taxonomy.id %></td>
		<td><%=h taxonomy.family %></td>
    <td ><%=h taxonomy.genus %></td>
    <td><%=h taxonomy.species %></td>
    <td><%=h taxonomy.subspecies %></td>





    <td><%=h taxonomy.countries %></td>
    <td class="icons" id="show"><%= link_to image_tag("show.png", :border=>0), taxonomy%></td>
 	<td class="icons"><%= link_to image_tag("edit.png", :border=>0), edit_taxonomy_path(taxonomy)%></td>

  </tr>
<% end %>
</table>
<%= will_paginate @taxonomies %> 
Per Page: <%= select_tag :per_page, options_for_select([10,20,50,100,200], params[:per_page].to_i),
               :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>

<br />

</div>