<h1>Taxonomy</h1>

<% form_tag taxonomies_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
	<%=hidden_field_tag :direction, params[:direction]%>
	<%=hidden_field_tag :sort, params[:sort]%>

<% end %>
<%= will_paginate @taxonomies %> 

<table cellspacing="1" cellpadding="5px" table-layout="fixed">
  <tr class="custom">
    <th class="custom"><%= sortable 'genus'%></th>
    <th class="custom"><%= sortable 'species'%></th>
    <th class="custom"><%= sortable 'subspecies'%></th>
    <th class="custom"><%= sortable 'new_diagnosis'%></th>
    <th class="custom"><%= sortable 'family'%></th>
    <th class="custom"><%= sortable 'reference'%></th>
    <th class="custom"><%= sortable 'description_pdf'%></th>
    <th class="custom"><%= sortable 'synonyms'%></th>
    <th class="custom"><%= sortable 'type_museum'%></th>
    <th class="custom"><%= sortable 'distribution'%></th>
    <th class="custom"><%= sortable 'ingroup'%></th>
    <th class="custom"><%= sortable 'other_literature'%></th>
    <th class="custom"><%= sortable 'character_diagnosis'%></th>
    <th class="custom"><%= sortable 'description'%></th>
    <th class="custom"><%= sortable 'countries'%></th>
  </tr>

<% @taxonomies.each do |taxonomy| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%=h taxonomy.genus %></td>
    <td><%=h taxonomy.species %></td>
    <td><%=h taxonomy.subspecies %></td>
    <td><%=h taxonomy.new_diagnosis %></td>
    <td><%=h taxonomy.family %></td>
    <td><%=h taxonomy.reference %></td>
    <td><%=h taxonomy.description_pdf %></td>
    <td><%=h taxonomy.synonyms %></td>
    <td><%=h taxonomy.type_museum %></td>
    <td><%=h taxonomy.distribution %></td>
    <td><%=h taxonomy.ingroup %></td>
    <td><%=h taxonomy.other_literature %></td>
    <td><%=h taxonomy.character_diagnosis %></td>
    <td><%=h taxonomy.description %></td>
    <td><%=h taxonomy.countries %></td>
    <td><%= link_to 'Show', taxonomy %></td>
    <td><%= link_to 'Edit', edit_taxonomy_path(taxonomy) %></td>
    <td><%= link_to 'Destroy', taxonomy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @taxonomies %> 
Per Page: <%= select_tag :per_page, options_for_select([10,20,50,100,200], params[:per_page].to_i),
               :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>

<br />

<%= link_to 'New taxonomy', new_taxonomy_path %>