<h1>New taxonomy</h1>

<% form_for(@taxonomy) do |f| %>
  <%= f.error_messages %>
<table border="0" cellspacing="5" cellpadding="5">
	
	<tr><td>    <%= f.label :genus %><br />
    <%= f.text_field :genus %></td>
<td>   <%= f.label :species %><br />
    <%= f.text_field :species %></td></tr>

<tr><td>    <%= f.label :subspecies %><br />
    <%= f.text_field :subspecies %></td>
<td> <%= f.label :family %><br />
    <%= f.text_field :family %></td></tr>

<tr><td>    <%= f.label :new_diagnosis %><br />
    <%= f.text_field :new_diagnosis %></td>
	<td><%= f.label :reference %><br />
    <%= f.text_field :reference %></td></tr>


  </p>
  <p>

  </p>

  <p>
    
  </p>
  <p>
    <%= f.label :description_pdf %><br />
    <%= f.text_field :description_pdf %>
  </p>
  <p>
    <%= f.label :synonyms %><br />
    <%= f.text_field :synonyms %>
  </p>
  <p>
    <%= f.label :type_museum %><br />
    <%= f.text_field :type_museum %>
  </p>
  <p>
    <%= f.label :distribution %><br />
    <%= f.text_field :distribution %>
  </p>
  <p>
    <%= f.label :ingroup %><br />
    <%= f.text_field :ingroup %>
  </p>
  <p>
    <%= f.label :other_literature %><br />
    <%= f.text_field :other_literature %>
  </p>
  <p>
    <%= f.label :character_diagnosis %><br />
    <%= f.text_field :character_diagnosis %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :countries %><br />
    <%= f.text_field :countries %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', taxonomies_path %>