<p>
  <b>Genus:</b>
  <%=h @taxonomy.genus %>
</p>

<p>
  <b>Species:</b>
  <%=h @taxonomy.species %>
</p>

<p>
  <b>Subspecies:</b>
  <%=h @taxonomy.subspecies %>
</p>

<p>
  <b>New diagnosis:</b>
  <%=h @taxonomy.new_diagnosis %>
</p>

<p>
  <b>Family:</b>
  <%=h @taxonomy.family %>
</p>

<p>
  <b>Reference:</b>
  <%=h @taxonomy.reference %>
</p>

<p>
  <b>Description pdf:</b>
  <%=h @taxonomy.description_pdf %>
</p>

<p>
  <b>Synonyms:</b>
  <%=h @taxonomy.synonyms %>
</p>

<p>
  <b>Type museum:</b>
  <%=h @taxonomy.type_museum %>
</p>

<p>
  <b>Distribution:</b>
  <%=h @taxonomy.distribution %>
</p>

<p>
  <b>Ingroup:</b>
  <%=h @taxonomy.ingroup %>
</p>

<p>
  <b>Other literature:</b>
  <%=h @taxonomy.other_literature %>
</p>

<p>
  <b>Character diagnosis:</b>
  <%=h @taxonomy.character_diagnosis %>
</p>

<p>
  <b>Description:</b>
  <%=h @taxonomy.description %>
</p>

<p>
  <b>Countries:</b>
  <%=h @taxonomy.countries %>
</p>

<hr/>
<h5>Associate this Species sample with a DNA sample.</h5>
<% form_tag(:action => "submitdnasample") do %>
<p>	<%= select('taxonomy','dnasamples',Dnasample.all.collect {|p| [ p.dna_accession, p.id] }, {:prompt => 'Select DNA Sample'})%> Select a DNA Sample by its Accession ID in the <%= link_to "DNA Samples", dnasamples_path %> table.</p>
<p><%=h  hidden_field_tag(:taxonomyid, @taxonomy.id) %></p>

<%= submit_tag "Add"%>
<%end%>

<h5> Delete a DNA Sample that is associated with this species.</h5>
<% form_tag(:action => "removednasample") do %>
<p>	<%= select('taxonomy','dnasamples',@taxonomydnasamples.all.collect {|p| [ p.dna_accession, p.id] }, {:prompt => 'Select DNA Sample'})%> Select a DNA Sample by its Accession ID in the <%= link_to "DNA Samples", dnasamples_path %> table.</p>
<p><%=h  hidden_field_tag(:taxonomyid, @taxonomy.id) %></p>

<%= submit_tag "Remove"%>
<%end%>



<%= link_to 'Edit', edit_taxonomy_path(@taxonomy) %> |
<%= link_to 'Back', taxonomies_path %>