<h1>Editing</h1>

<%= form_for(@gene) do |f| %>
  

  <p>
    <%= f.label :genbank %><br />
    <%= f.text_field :genbank %>
  </p>
  <p>
    <%= f.label :locus %><br />
    <%= f.text_field :locus %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= button_to 'Show', @gene ,{:method=>:get}%> 
<%= button_to 'Delete', @gene,{:method=>:delete} %>