<h1>New gene</h1>



 


	<p>Create a new user with this form.</p>
	<button id="toggleButton">New Primer</button>
  	<div id="toggleSection">
			<%=render :partial => 'primerh.html.erb'%>
	
  	</div>
	<button id="toggleButton2">add more his</button>
<div id='newpair'>			<%=render :partial => 'primerh.html.erb'%>	</div>
<div class="target2">
	<button >alert</button></div>
<% form_for(@gene) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :genbank %><br />
    <%= f.text_field :genbank %>
  </p>
  <p>
    <%= f.label :locus %><br />
    <%= f.text_field :locus %>
  </p>
  <!-- <p>
     <%= f.label :primerl %><br />
     <%= f.text_field :primerl %>
   </p>
   <p>
     <%= f.label :primerh %><br />
     <%= f.text_field :primerh %>
   </p> -->
<p>
	<select class="target3">
	<%= select('gene','primer',Primer.all.collect {|p| [ p.id, p.id] }, {:prompt => 'Select Primer'})%>

			</select>
			<p id='primerh'>testreplace</p>


<%@primers.each do |primer| %>
<p><%= primer.primerh %></p>
<%end %>
</p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', genes_path %>