<h3>Gene Information</h3>
<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td>
			<b>Genbank: </b>	<%=h @gene.genbank %>
		</td>
	</tr>		
	<tr>
		<td>
  			<b>Locus:</b><%=h @gene.locus %>		
		</td>		
	</tr>
</table>

<h3>DNA Samples that have been associated with this Gene</h3>
<table style="margin-top:50px;margin-bottom:50px">
	<tr>
		<th>DNA Accession </th>
		<th>Sample Number</th>
	</tr>

<%@gene.dnasamples.each do |dna| %>
	<tr class="<%= cycle("even", "odd") %>">
    	<td>
			<%=h dna.dna_accession %>
		</td>
    	<td>
			<%=h dna.dnasample_number %>
		</td>
		<td>
			<%= link_to image_tag("show.png", :border=>0),dna %>
		</td>
		
	</tr>
<%end%>
</table>






<%= button_to 'Edit', edit_gene_path(@gene),{:method=>:get} %> 
<%= button_to 'Delete', @gene,{:method=>:delete} %>