<p>
  <b>Genbank:</b>
  <%=h @gene.genbank %>
</p>

<p>
  <b>Locus:</b>
  <%=h @gene.locus %>
</p>

<p>
  <b>Primerl:</b>
  <%=h @gene.primerl %>
</p>

<p>
  <b>Primerh:</b>
  <%=h @gene.primerh %>
</p>

<%= button_to 'Edit', edit_gene_path(@gene),{:method=>:get} %> 
<%= button_to 'Delete', @gene,{:method=>:delete} %>