
<%= stylesheet_link_tag 'scaffold' %>
<div id="header">


<!-- <header> -->

	<!-- <div class="div1"> -->

	
<img src="/images/ReddyLab.png" width="100" height="100", style="float:left" , hspace="10px">	
	<div id="title">
		Reddy Lab
	</div>
	<div id="subtitle">
		Experimental Database
	</div>
	
	<%=link_to "Welcome", root_path%>|
	<%=link_to "Experiments", experiments_path%>|
	<%=link_to "DNA Samples", dnasamples_path%>|
	<%=link_to "Genes", genes_path%>|
	<%=link_to "PCR ", pcrs_path%>|
	<%=link_to "Taxonomy", taxonomies_path%>|

	





	

	<!-- </header> -->
	
</div>