<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Reddy Lab Experimental Database</title>
  <%= stylesheet_link_tag 'scaffold' %>
<%= javascript_include_tag "jquery", "pcrs" %>

<style type="text/css">

#nav a{ float:left;
	padding:10px; 
	text-decoration:none; 
	color:black; 
	-moz-border-top-right-radius: 5px; 
	border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px; 
	border-top-right-radius: 5px;


background: #7f7f7f; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CfCfCf', endColorstr='#7f7f7f'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#CfCfCf), to(#7f7f7f)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #CfCfCf,  #7f7f7f); /* for firefox 3.6+ */ 

border-bottom:5px solid #8265A6;
}

#welcome a{
background: #8265A6; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BAA5D2', endColorstr='#8265A6'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#BAA5D2), to(#8265A6)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #BAA5D2,  #8265A6); /* for firefox 3.6+ */
		-webkit-box-shadow:none;
}

</style>
		
</head>
<body>
	

	
<div id="wrapper">
	
<%=render :partial => '/navigation'%>
	<div id="content">
	<% if flash[:notice]%>

<p style="color: green"><%= flash[:notice] %></p>
<%end%>
<%if flash[:error]%>
<P style="color: red"><%=flash[:error]%></p>
	<%end%>
<%= yield %>

</div>
</div>
</body>
</html>
